{% extends 'base.html.twig' %}

{% block title %}Hello CourseController!{% endblock %}

{% block body %}
<div>
    <h1>{{ course.title }}</h1>
    <img src="{{ asset('uploads/course_pictures/' ~ course.coursePicture) }}" alt="">
    <p>{{ course.description }}</p>
    <button>Commencer</button>

    <div>
        <h2>Programme de la formation</h2>
        {% for section in course.sections %}
            <h3>{{ section.title }}</h3>
            {% for lesson in section.lessons %}
                <h4><a href="{{ path('app_lesson_detail', {'idCourse' : course.id, 'idLesson' : lesson.id }) }}">{{ lesson.title }}</a></h4>
            {% else %}
                <h4>Modules à venir...</h4>
            {% endfor %}
        {% else %}
            <h3>Sections à venir...</h3>
        {% endfor %}
    </div>

    <div>
        <h2>Formateur•trice</h2>
        {% if course.teacher.profilePicture %}
            <img src="{{ asset('uploads/profile_pictures/' ~ course.teacher.profilePicture) }}">
        {% endif %}
        <p>{{ course.teacher.firstName }} {{ course.teacher.lastName }}</p>
        <p>{{ course.teacher.description }}</p>
    </div>
</div>
{% endblock %}
