{% extends 'base.html.twig' %}

{% block title %}Hello CourseController!{% endblock %}

{% block body %}

<div class="bg-light">
    <div class="container my-3">
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ path('app_home') }}">Accueil</a></li>
                <li class="breadcrumb-item"><a href="{{ path('app_courses') }}">Formations</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ course.title }}</li>
            </ol>
        </nav>
        <div class="d-flex flex-wrap justify-content-between align-items-center">
            <div class="col-4">
                <h1>{{ course.title }}</h1>
                <h3>{{ course.description }}</h3>
                {% if alreadyRegistered %}
                    <button class="btn btn-outline-success" disabled>Commencée</button>
                {% else %}
                    <a class="btn btn-success" href="{{ path('app_register_course', {'id': course.id}) }}">Commencer</a>
                {% endif %}
            </div>
            {% if course.coursePicture %}
                <img class="col-6 img-course-detail" src="{{ asset('uploads/course_pictures/' ~ course.coursePicture) }}" alt="" height="400">
            {% else %}
                <img src="{{ asset('img/logo.svg') }}" class="col-6 img-course-detail" alt="..." height="400">
            {% endif %}
        </div>
    </div>
</div>
<main class="container">
    <div class="d-flex flex-wrap my-3 py-4">
        <div class="col-9">
            <div class="px-5">
                <h3 class="border-bottom border-2">Programme de la formation</h3>
                {% for section in course.sections | sort((a, b) => a.orderInCourse <=> b.orderInCourse ) %}
                    <h4>{{ section.title }}</h4>
                    <ol>
                        {% for lesson in section.lessons | sort((a, b) => a.orderInSection <=> b.orderInSection ) %}
                            <li><a class="text-decoration-none text-dark" href="{{ path('app_lesson_detail', {'idCourse' : course.id, 'idLesson' : lesson.id }) }}">{{ lesson.title }}</a></li>
                        {% else %}
                            <h5><em>Modules à venir...</em></h5>
                        {% endfor %}
                        {% for quiz in section.quizzes %}
                            <li class="list-unstyled"><a class="bi bi-mortarboard-fill text-decoration-none text-dark" href=""> {{ quiz.title }}</a></li>
                        {% endfor %}
                    </ol>
                {% else %}
                    <h4><em>Sections à venir...</em></h4>
                {% endfor %}
            </div>
        </div>

        <div class="col-3">
            <div class="px-2 mx-2">
                <div class="card text-center">
                    <div class="card-body">
                        <h2 class="card-title">Formateur•trice</h2>
                        {% if course.teacher.profilePicture %}
                            <img src="{{ asset('uploads/profile_pictures/' ~ course.teacher.profilePicture) }}" class="card-img rounded-circle img-teacher-profile">
                        {% endif %}
                    </div>
                    <div class="card-body">
                        <h4 class="card-subtitle">{{ course.teacher.firstName }} {{ course.teacher.lastName }}</h4>
                        <p class="card-text">{{ course.teacher.description }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}
