{% extends 'base.html.twig' %}

{% block title %}Hello CourseController!{% endblock %}

{% block body %}

<div class="bg-light">
    <div class="container">
        <div class="my-4">
            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ path('app_home') }}">Accueil</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Formations</li>
                </ol>
            </nav>
            <div class="d-flex flex-wrap justify-content-between align-items-center">
                <h1 class="col-4">Découvrez les formations EcoIT</h1>
                <img class="col-6 text-end" src="{{ asset('img/courses.svg') }}" alt="" height="400">
            </div>
        </div>
    </div>
</div>
<main class="container">
    <div class="py-5">
        <div class="d-flex mb-3">
            <h2 class="col-6">Notre offre de formations</h2>
            <div class="col-6 d-flex align-items-center justify-content-end">
                {% if app.user and app.user.roles == ['ROLE_STUDENT'] %}
                    <div class="dropdown mx-2">
                        <button class="btn btn-outline-success dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-funnel"></i> Filtrer
                        </button>
                        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton1">
                            <li><a class="dropdown-item" onclick="filterCourses('all')" href="#">Toutes</a></li>
                            <li><a class="dropdown-item" onclick="filterCourses('started')" href="#">En cours</a></li>
                            <li><a class="dropdown-item" onclick="filterCourses('done')" href="#">Terminées</a></li>
                        </ul>
                    </div>
                {% endif %}
                <form class="mb-3 mb-lg-0 me-lg-3">
                    <input type="search" class="form-control" placeholder="Rechercher..." aria-label="Rechercher" id="mySearch" onkeyup="searchCourse()">
                </form>
            </div>

        </div>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3" id="courseList">
            {% for course in courses %}
                <div class="card shadow-sm mx-2
                    {% for courseProgress in course.studentsCourseProgress %}
                        {% if courseProgress.student == app.user %}
                            {% if courseProgress.progress == 1 %}
                                done
                            {% else %}
                                started
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                ">
                    <img src="{{ asset('uploads/course_pictures/' ~ course.coursePicture) }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{ course.title }}</h5>
                        <p class="card-text">{{ course.description }}</p>
                        <a href="{{ path('app_course_detail', {'id': course.id}) }}" class="btn btn-success">Consulter</a>
                    </div>
                </div>
            {% else %}
                <div>Aucune formation publiée</div>
            {% endfor %}
        </div>
    </div>
</main>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/search.js') }}"></script>
    <script src="{{ asset('js/filter.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
{% endblock %}
