{% extends 'base.html.twig' %}

{% block metaDescription %}Connectez-vous à la plateforme EcoIT afin de retrouver vos formations, vos cours et ainsi monter en compétences dans le web éco-responsable.{% endblock %}
{% block title %}EcoIT - Connexion{% endblock %}

{% block body %}
<form method="post" class="container my-auto">
    <h1 class="text-center">Connectez-vous pour reprendre votre formation !</h1>
    {% if error %}
        <div class="alert alert-danger m-5 text-center">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-warning m-5 text-center">
            {{ message }}
        </div>
    {% endfor %}
    {% if app.user %}
        <div class="m-5 text-center">
            Vous êtes connecté avec l'adresse {{ app.user.username }}, <a class="fw-bold" href="{{ path('app_logout') }}">Se déconnecter</a>
        </div>
    {% else %}
        <div class="border mx-auto my-5 col-md-4 rounded-3 bg-light-green">
            <div class="m-5">
                <h3 class="h3 mb-3 font-weight-normal text-center">Connexion</h3>
                <div class="my-3">
                    <label for="inputEmail">Email</label>
                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus placeholder="Email">
                </div>
                <div class="my-3">
                    <label for="inputPassword">Mot de passe</label>
                    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required placeholder="Mot de passe">
                </div>

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                <div class="text-center pt-2">
                    <button class="btn btn btn-success" type="submit">Se connecter</button>
                </div>
            </div>
        </div>
    {% endif %}
</form>
{% endblock %}
