{% extends 'base.html.twig' %}

{% block title %}EcoIT - Accueil{% endblock %}

{% block body %}

<main>

    <div class="py-3">
        <div class="container">
            <h1>Le projet d'Eco Web</h1>
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 text-center">
                <div class="card border-0">
                    <img src="{{ asset('img/Coding_SVG.svg') }}" class="img-home-goals" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Responsabiliser</h5>
                        <p class="card-text">En 20 ans, le poids d’une page web a été multiplié par 115. C'est 1.5 fois plus d'émissions que le transport aérien.</p>
                    </div>
                </div>
                <div class="card border-0">
                    <img src="{{ asset('img/online_school_SVG.svg') }}" class="img-home-goals" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Former</h5>
                        <p class="card-text">EcoIT désire devenir la référence française en formations pour les développeurs soucieux de leur impact digital.</p>
                    </div>
                </div>
                <div class="card border-0">
                    <img src="{{ asset('img/Web_SVG.svg') }}" class="img-home-goals" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Protéger</h5>
                        <p class="card-text">La crise écologique est devenue une urgence majeure. Notre objectif est de permettre un web qui pollue moins.</p>
                    </div>
                </div>
            </div>
    </div>
    <div class="text-center bg-light">
        <div class="d-flex flex-wrap justify-content-evenly align-items-center p-4 m-4 py-5">
            <div class="col-5">
                <h3 class="">Rejoignez-nous et apprenez à concevoir vos projets de manière éco-responsable !</h3>
            </div>
            <div class="col-3">
                <a class="btn btn-success" href="{{ path('app_register_student') }}">Inscrivez-vous !</a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="py-5">
            <h2>Nos dernières formations</h2>
            <h3>Retrouvez nos dernières formations délivrées par des spécialistes du domaine.</h3>
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                {% for course in lastCourses %}
                    <div class="col">
                        <div class="card shadow-sm">
                            {% if course.coursePicture %}
                                <img src="{{ asset('uploads/course_pictures/' ~ course.coursePicture) }}" class="card-img-top" alt="...">
                            {% else %}
                                <img src="{{ asset('img/logo.svg') }}" class="card-img-top" alt="...">
                            {% endif %}

                            <div class="card-body">
                                <h5 class="card-title">{{ course.title }}</h5>
                                <p class="card-text">{{ course.description }}</p>
                                <a href="{{ path('app_course_detail', {'id': course.id}) }}" class="btn btn-success">Consulter</a>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div>Aucune formation publiée</div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
