<div class="bg-light-green">
    <div class="container my-3">
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a class="fw-bold" href="{{ path('app_home') }}">Accueil</a></li>
                <li class="breadcrumb-item"><a class="fw-bold" href="{{ path('app_courses') }}">Formations</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ course.title }}</li>
            </ol>
        </nav>
        <div class="d-flex flex-wrap justify-content-md-between justify-content-center align-items-center">
            <div class="col-md-7 text-start me-auto">
                <h1>{{ course.title }}</h1>
                <h3>{{ course.description }}</h3>
                <div class="py-4">
                    {% if courseProgress %}
                        {% if courseProgress.progress and courseProgress.progress == 1 %}
                            <button class="btn btn-outline-success" disabled>Terminée</button>
                        {% else %}
                            <button class="btn btn-outline-success" disabled>En cours</button>
                        {% endif %}
                    {% elseif app.user and app.user.roles==['ROLE_STUDENT'] %}
                        <a class="btn btn-success" href="{{ path('app_register_course', {'id': course.id}) }}">Commencer</a>
                    {% endif %}
                </div>
            </div>
            <div class="col-md-5 text-md-end">
                {% if course.coursePicture %}
                    <img class="img-course-detail" src="{{ asset('uploads/course_pictures/' ~ course.coursePicture) }}" alt="illustration cours" height="400">
                {% else %}
                    <img src="{{ asset('img/logo.svg') }}" class="img-course-detail" alt="illustration cours default" height="400">
                {% endif %}
            </div>
        </div>
    </div>
</div>