<!-- START of LESSON -->
<div class="m-4 p-3 w-100">
    <div class="d-flex flex-wrap justify-content-between">
        <div class="col-md-6">
            <h2>{{ lesson.title }}</h2>
        </div>
        <div class="col-md-6 text-end">
            {% include('courses/lesson/_previous_next.html.twig') %}
        </div>
    </div>
    <!-- LESSON VIDEO -->
    {% if lesson.video %}
        <div class="py-3 p-lg-5">
            <div class="text-center embed-responsive ratio ratio-16x9">
                <iframe src="{{ lesson.video }}" class="rounded-2 shadow-sm " allowfullscreen></iframe>
            </div>
        </div>
    {% endif %}
    <!-- LESSON TEXT -->
    <div class="pt-3">{{ lesson.lessonContent | replace({'<h1>': '<h3>', "</h1>": "</h3>"}) | raw }}</div>
    <!-- STUDY MATERIALS -->
    <div class="d-flex flex-column py-3">
        {% if lesson.studyMaterials %}
            <h4 class="bg-green px-1">Ressources</h4>
            {% for studyMaterial in lesson.studyMaterials %}
                <a target="_blank" class="text-decoration-underline" href="{{ asset('uploads/study_materials/' ~ studyMaterial.path) }}">{{ studyMaterial.title }}</a>
            {% else %}
                <span>Aucune ressource</span>
            {% endfor %}
        {% endif %}
    </div>
    <!-- COMPLETE BUTTON -->
    {% if app.user and app.user.roles == ["ROLE_STUDENT"] and courseProgress != NULL %}
        {% if lesson in courseProgress.lessons %}
            <div class="text-end">
                <button class="btn btn-outline-success disabled">Terminé</button>
            </div>
        {% else %}
            <div class="text-end">
                <a class="btn btn-success" href="{{ path('app_complete_lesson', {'idCourse' : lesson.section.course.id, 'idLesson': lesson.id}) }}">Terminé</a>
            </div>
        {% endif %}
    {% endif %}
</div>
<!-- END of LESSON -->