<div class="m-4 p-3 w-100">
    <div class="d-flex flex-wrap justify-content-between mb-3">
        <div class="col-md-6">
            <h2>{{ quiz.title }}</h2>
        </div>
        <div class="col-md-6 text-end">
            {% include('courses/lesson/_previous_next.html.twig') %}
        </div>
    </div>

    <div id="#quiz" class="my-auto">
        {% for question in quiz.questions %}
            <div class="mb-3">
                {{ question.question }}

                {% for answer in question.answers %}
                <div class="form-check question">
                    <input class="form-check-input answer" type="radio" name="{{ question.question }}" id="{{ answer.answer }}" value="{{ answer.isCorrect }}">
                    <label class="form-check-label" for="{{ answer.answer }}">
                        {{ answer.answer }}
                    </label>
                </div>
                {% endfor %}
            </div>
        {% endfor %}

        <div class="text-end">
            <button class="btn btn-outline-success" onclick="clearQuiz()">Recommencer</button>
            <button class="btn btn-success" onclick="quizCorrection()">Correction</button>
        </div>
    </div>


</div>
