<div class="flex-shrink-0 p-3 bg-dark-grey text-white shadow-lg rounded-3 my-4 h-100" style="width: 280px;">
    <a href="{{ path('app_course_detail', {'id': course.id}) }}" class="d-flex align-items-center pb-3 mb-3 text-white text-decoration-none border-bottom">
        <span class="fs-4">{{ course.title }}</span>
    </a>
    <ul class="list-unstyled ps-0">
        {% for section in course.sections | sort((a, b) => a.orderInCourse <=> b.orderInCourse ) %}
            <li class="py-2">
                <span class="fw-bold">
                    <i class="bi bi-chevron-right"></i>
                    {{ section.title }}
                </span>
                <div>
                    <ul class="fw-normal pb-1 mx-3 list-unstyled">
                        {% for lesson in section.lessons | sort((a, b) => a.orderInSection <=> b.orderInSection ) %}
                            <li>
                                {% if courseProgress %}
                                    {% if lesson in courseProgress.lessons %}
                                        <i class="bi bi-check-circle-fill"></i>
                                    {% else %}
                                        <i class="bi bi-circle"></i>
                                    {% endif %}
                                {% endif %}

                                <a href="{{ path('app_lesson_detail', {'idCourse' : course.id, 'idLesson' : lesson.id }) }}" class="text-white">{{ lesson.title }}</a>
                            </li>
                        {% else %}
                            <li><em>Modules à venir</em></li>
                        {% endfor %}
                        {% for quiz in section.quizzes %}
                            <li><a class="bi bi-mortarboard-fill text-decoration-none text-white" href="{{ path('app_quiz', {'idCourse': course.id, 'idQuiz': quiz.id}) }}"> {{ quiz.title }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </li>
        {% else %}
            <li class="mb-1">
                <span><em>Sections à venir</em></span>
            </li>
        {% endfor %}
    </ul>
</div>