<div class="col py-3 course
    {% if course.studentsCourseProgress %}
        {% for courseProgress in course.studentsCourseProgress %}
            {% if courseProgress.student == app.user %}
                {% if courseProgress.progress == 1 %}
                    done
                {% else %}
                    started
                {% endif %}
            {% endif %}
        {% endfor %}
        {% endif %}
    ">
    <div class="card shadow-lg bg-light-green rounded-3 p-3 h-100">
        <a href="{{ path('app_course_detail', {'id': course.id}) }}" class="text-decoration-none text-black">
        {% if course.coursePicture %}
            <img src="{{ asset('uploads/course_pictures/' ~ course.coursePicture) }}" class="card-img-top" alt="image cours">
        {% else %}
            <img src="{{ asset('img/logo.svg') }}" class="card-img-top" alt="image cours défaut">
        {% endif %}
        </a>
        <div class="card-body">
            <h5 class="card-title fw-bold bg-light-green">{{ course.title }}</h5>
            <p class="card-text bg-light-green">{{ course.description }}</p>
        </div>
        <div class="text-end pt-2 mt-auto">
            <a href="{{ path('app_course_detail', {'id': course.id}) }}" class="btn btn-success">Consulter</a>
        </div>
    </div>
</div>